language: ruby

cache: bundler

before_install: gem update bundler

install:
  - bundle install

before_script:
    - chmod a+x travis-*.sh
    - export DEPLOY_REPO="https://${REPO_KEY}@github.com/kolpinghaus-rt/kolpinghaus-reutlingen.de.git"

script:
 - "./travis-build.sh"
 - "./travis-test.sh"
 - "./travis-deploy.sh"

branches:
  only:
  - master

sudo: false
