---
title: Bilder
layout: default
permalink: /bilder/
redirect_from:
  - /bild/
  - /img/

gallery:
  - link: 01.jpg
    small: 01-small.jpg
  - link: 02.jpg
    small: 02-small.jpg
  - link: 03.jpg
    small: 03-small.jpg
  - link: 04.jpg
    small: 04-small.jpg
  - link: 05.jpg
    small: 05-small.jpg
  - link: 06.jpg
    small: 06-small.jpg
  - link: 07.jpg
    small: 07-small.jpg
  - link: 08.jpg
    small: 08-small.jpg
  - link: 09.jpg
    small: 09-small.jpg
  - link: 10.jpg
    small: 10-small.jpg
  - link: 11.jpg
    small: 11-small.jpg
  - link: 12.jpg
    small: 12-small.jpg
  - link: 13.jpg
    small: 13-small.jpg
  - link: 14.jpg
    small: 14-small.jpg
  - link: 15.jpg
    small: 15-small.jpg
  - link: 16.jpg
    small: 16-small.jpg
  - link: 17.jpg
    small: 17-small.jpg
---

<div class="row text-center text-lg-left">
  {% for picture in page.gallery %}
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="{{ site.static | append: "/bildergallerie/" | append: picture.link }}" class="d-block mb-4">
      {% if picture.small.remove-this %}
      <img class="img-fluid img-thumbnail" src="{{ site.static | append: "/bildergallerie/" | append: picture.small }}" alt="{{picture.alt}}">
      {% else %}
      <img class="img-fluid img-thumbnail" src="{{ site.static | append: "/bildergallerie/" | append: picture.link }}" alt="{{picture.alt}}">
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
