---
title: Bilder
layout: default
permalink: /bilder/
active: bilder
redirect_from:
  - /bild/
  - /img/

gallery:
  - id: bildergallerie-1
  - id: bildergallerie-2
  - id: bildergallerie-3
  - id: bildergallerie-4
  - id: bildergallerie-5
  - id: bildergallerie-6
  - id: bildergallerie-7
  - id: bildergallerie-8
  - id: bildergallerie-9
  - id: bildergallerie-10
  - id: bildergallerie-11
  - id: bildergallerie-12
  - id: bildergallerie-13
  - id: bildergallerie-14
  - id: bildergallerie-15
  - id: bildergallerie-16
  - id: bildergallerie-17
---

<div class="row text-center text-lg-left">
  {% for picture in page.gallery %}
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="{% include img id=picture.id %}" class="d-block mb-4">
      <img class="img-fluid img-thumbnail" src="{% include img id=picture.id options='w_300' %}" alt="{{picture.alt}}">
    </a>
  </div>
  {% endfor %}
</div>
