<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">Bücher Börse 2018</h2>
    <a href="{% link _veranstaltungen/2018-04-04-buecher-boerse-april-2018.md %}"><img src="https://static1.kolpinghaus-rt.5ls.de/veranstaltungen/2017-12-20-bewohnerweihnachtsfeier.jpg" style="
    max-width: 100%;
" alt="Bücher Börse 2018"></a>
    <p class="card-text"></p>
    <a href="{% link _veranstaltungen/2018-04-04-buecher-boerse-april-2018.md %}" class="btn btn-primary">Mehr &rarr;</a>
  </div>
</div>
<a href="{% link artikel.html %}" class="btn btn-primary">zu den Artikeln &rarr;</a>
