<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title">nächste Bücher Annahme</h4>
    {% assign date1 = '2018-09-07' %}
    {% assign date2 = '2018-11-02' %}
    {% assign date3 = '2018-12-07' %}
      <p class="card-text">{% include pretty-date.html date=date1 mode=2 %} </p>
      <!-- 7.sep, 2.nov, 7.dez -->
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title">nächste Bücher Börse</h3>
    <a href="{% include img id='2018-10-20-buecher-boerse' folder='veranstaltungen' %}">
      <img src="{% include img id='2018-10-20-buecher-boerse' options='w_300' folder='veranstaltungen' %}" style="max-width: 100%;" alt="{% include pretty-date.html date='2018-10-20' mode=2 %}"></a>
  </div>
</div>
<a href="{% link artikel.html %}" class="btn btn-primary">zu den Artikeln &rarr;</a>

<!--

<div class="card mb-4">
  <img class="card-img-top" src="" alt="">
  <div class="card-body">
    <h2 class="card-title"></h2>
    <a href="">
      <img src="" style="max-width: 100%;" alt="">
    </a>
    <p class="card-text"></p>
    <a href="" class="btn btn-primary">Mehr &rarr;</a>
  </div>
  <div class="card-footer text-muted">Juli 13, 2018</div>
</div>

 -->
