{% if include.month %}
{% if include.month == "1" %}Januar{% endif %}
{% if include.month == "2" %}Februar{% endif %}
{% if include.month == "3" %}März{% endif %}
{% if include.month == "4" %}April{% endif %}
{% if include.month == "5" %}Mai {% endif %}
{% if include.month == "6" %}Juni{% endif %}
{% if include.month == "7" %}Juli{% endif %}
{% if include.month == "8" %}August{% endif %}
{% if include.month == "9" %}September{% endif %}
{% if include.month == "10" %}Oktober{% endif %}
{% if include.month == "11" %}November{% endif %}
{% if include.month == "12" %}Dezember{% endif %}
{% else %}
no month
{% endif %}
