---
layout: html
---
<link rel="dns-prefetch preconnect" href="//res.cloudinary.com">
<link rel="dns-prefetch preconnect" href="//cdn.jsdelivr.net">
{% if page.title == 'Über uns' or page.title == 'Veranstaltungen' or page.title == 'Projekte' or page.title == 'Artikel' or page.title == 'Bilder' or page.title == 'Kontakt' %}
  {% assign css = 'critical-' | append: page.active | append: '.css' %}
{% else %}
  {% assign css = 'critical-layout-' | append: page.layout | append: '.css' %}
{% endif %}
<style>
{% include {{css}} %}
</style>
{{content}}
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/combine/gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/css/bootstrap.min.css,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/css/main.min.css,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/css/photoswipe.css,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/css/photoswipe-skin.css">
<script src="https://cdn.jsdelivr.net/combine/gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/jquery.min.js,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/popper.min.js,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/bootstrap.min.js,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/photoswipe.js,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/photoswipe-ui.js,gh/kolpinghaus-rt/kolpinghaus-reutlingen.de@{{site.commit}}/js/photoswipe-custom.js"></script>
{% include photoswipe %}
