---
layout: default
---

{% assign sorted = site[page.active] | sort: 'date' | reverse %} 


<div class="row">
		<div class="col-md-8">
      {% for item in sorted %}
			<div class="card mb-4">
        {% if item.img.thumb %}
        <a href="{{ site.static | append: item.url }}">
          <img class="card-img-top" src="{{ site.static | append: item.img.thumb.link}}" alt="{{item.img.thumb.alt}}">
        </a>
				{% endif %}
				<div class="card-body">
					<h2 class="card-title">{{ item.title }}</h2>
					<p class="card-text">
          {% if item.description %}
          {{ item.description }}
          {% else %}
          {% if item.excerpt %}
          {{ item.excerpt | strip_html }}
          {% endif %}
          {% endif %}</p>
					<a href="{{ item.url }}" class="btn btn-primary">zum Artikel &rarr;</a>
				</div>
				<div class="card-footer text-muted">{% include pretty-date.html date=item.date %}</div>
			</div>
			{% endfor %}
		</div>
	</div>
